     <html>
    <head>
      <meta charset="utf-8">
      <meta name="description" content="The HTML5 Herald">
      <meta name="author" content="SitePoint">
        <title>Weather Project</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <link rel="stylesheet/text" href="bootstrap/css//bootstrap.min.css">
        <script href="bootstrap/js//bootstrap.min.js"></script>
        <link rel="stylesheet" href="httpspro.fontawesome.comreleasesv5.10.0cssall.css integrity=sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">
      <link rel="stylesheet" href="css/style.css">
      <script src="https://kit.fontawesome.com/a076d05399.js"></script>
     </head>
    <body>
        {{>header}}
       <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 mx-auto col-12">
                <div class="row">
                  <div class="col-md-6 col-12 main_header_left">
               <p> Welcome to Weather App</p>
               <h1>Get The <span>Weather</span> Info of Your City</h1>
              <div class="btn">
                <button href="/weather"class="btn btn-block"> Check  Now</button>
              </div>    
              
              </div>
                  <div class="col-md-6 col-12 main_header_right">
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="img/im1.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                          <img src="img/im2.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                          <img src="img/im3.jpg" class="d-block w-100" alt="...">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              </div>
            </div>  
  {{>footer}}
  </body>
  </html>