@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,500;1,400&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    
}
body{
    height:100vh;
    display: flex;
    flex-direction: column;
}
.row{
    margin: 0;
}
/* html{
    font-size: 62.5%;
} */
/* :root {
   --mainbg
} */
.main_menu{
    background-color: crimson;
}
.navbar-toggler-icon {
    background-color: white;
}
   .navbar {
     background-color: crimson;
     color: white;
     padding: 2rem 0;
 }
 .navbar li{
     margin-left: 2rem;
 }
 .navbar a{
    color: white;
    font-size: 1.3rem;
 }
 .navbar a:hover{
     border-bottom: 1px solid snow;
     
 }
 .navbar-toggler{
     background-color:crimson;
 }

/* .main_header */
.main_header_left{
    height:auto;
    display: flex;
    width: auto;
    flex-direction:column ;
    justify-content: center;
    align-items: flex-start;
}
.main_header_right{
    height:auto;
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: flex-start;
}
.main_header_left p{
 font-size: 2rem;
}
.main_header_left h1{
    font-size: 3rem;
    margin:1rem 0 4rem 0;
    text-transform: capitalize  ;
   }
   .main_header_left span{
   color: crimson;
   }

   
button{
    padding:1.2rem 2rem;
    box-shadow: 0 8px 6px -6px black;
    border: none;
   
}
button:hover{
    background: #ED213A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 color: white;
 box-shadow: 0 8px 6px -6px black;
}

/* footer */

footer{
    width:100%;
    background-color: crimson;
    margin-top: auto;
}
footer p{
    margin:0;
    text-align: center;
    color: white;
    font-size:1.2rem;
    line-height: 5rem;
}
.main_header_right figure img{
filter: drop-shadow(0 0.5 1rem rgba(0,0,0,0.3));
margin-right: 5rem;
}
/* resposive */

@media(min-width:359px){
    .main_header_left p{
        height: auto;
        margin-top: 67px;
    }
    .main_header_right{
        height: auto;
        margin-top: 5rem 0;
    }
    
}
/* weather page */
.teminfo{
   
    margin:auto;
    background-color: salmon;
    color: white;
    padding: 2rem;
    
}
.temp_form{
    width: auto;
    margin-top:4rem;
    background-color:crimson;
    display:flexbox; 
}
.temp_form input[type="text"]{
    text-align: center;
     font-size: 1.5rem;
    height:5rem;
    border:none;
    background-color :crimson;
    color: white;
}
.temp_form input[type="submit"]{
      background-color:crimson;
     color: white;
     font-size: 1.3rem;
      padding:0.5rem 2rem;
      margin-left: 3rem;
      border: none;
}
.temp_form input[type="submit"]:hover{
    background: #ED213A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 color: white;
}
.top_layer{
    font-size: 1.6rem;
}
.middle_layer{
    text-align: center;
    font-size: 3rem;
}
.data_hide{
    /* color:black; */
}
 .top_layer{
    
     padding: 3rem;
     margin: 0%;
 }
  